.button {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  background: rgba(51, 51, 51, 0.7);
  border: none;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  .button:hover {
    background: rgba(51, 51, 51, 0.9);
  }
}

.button:active {
  background-color: rgba(51, 51, 51, 0.9);
}
