.feed {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20rem;
  column-gap: 200px;
  place-items: center;
  width: 100%;
  padding: 70px 100px;
}

@media (max-width: 767px) {
  .feed {
    padding: 70px 16px;
  }
}
