.stream-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  opacity: 0.6;
}

.stream-wrapper--active {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

/* handles the 16:9 aspect ratio */
.aspect-16x9 {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  border-radius: 10px;
  overflow: hidden;
}

.player-ui {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.player-ui-actions {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 0 20px 10px 20px;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.player-video-el {
  width: 100%;
  height: 100%;
}

.player-ui-button {
  display: block;
  user-select: none;
}
