:root {
  --mobile-feed-min-height: 300px;
  --desktop-metadata-width: 420px;
  --metadata-bg-color: #333333;
}

.grid {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.metadata {
  width: var(--desktop-metadata-width);
  background: var(--metadata-bg-color);
  overflow: hidden;
}

@media (max-width: 839px) {
  .grid {
    flex-direction: column;
  }

  .metadata {
    width: 100%;
    height: auto;
    max-height: calc(100vh - var(--mobile-feed-min-height));
  }
}
