.grid {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.metadata {
  width: var(--width-desktop-metadata);
  background: var(--color-bg-metadata);
  overflow: hidden;
}

@media (max-width: 839px) {
  .grid {
    flex-direction: column;
  }

  .metadata {
    width: 100%;
    height: auto;
    max-height: calc(100vh - var(--height-min-mobile-feed));
  }
}
