* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	user-select: none;
}

body {
	min-width: 320px;
	background-color: #000;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
